body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

#content {
    display: flex;
    flex-direction: column;
    border: solid 2px white;
    min-height: 80vh;
    margin-bottom: 10px;
    width: 80vw;
    max-width: 780px;
    border-radius: 10px;
}

.nav-container{
    display: flex;
    justify-content: center;
    color: white;
    width: 80vw;
}

.tab {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    height: 30px;
    width: 100px;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 5px;
}

.tab:hover{
    background-color: grey;
}

.title, .writeup {
    margin: 10px;
    font-size: 40px;
    border: dashed;
    max-width: max-content;
    align-self: center;
    border-radius: 10px;
    padding: 10px;
}

.blurb{
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 50px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

.writeUp {
    max-width: 40vw;
    align-self: center;
    line-height: 2;
    
}

.image-container {
    align-self: center;
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 80vw;
}

.home-image {
    margin: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50px;
}